<h1>Coupon Form</h1>

<form method="post" action="<%= coupon_path %>">
  <label>Coupon Codoe</label><br>
  <%= text_field_tag :coupon_code %><br>
  
  <label>Store Name</label><br>
  <%= text_field_tag :store %><br>
  
  <%= submit_tag "Submit Coupon" %>
</form>